[Unit]
Description=ADB Photo Sync Service
After=network.target

[Service]
ExecStart=/home/pi/adb-photo-sync/adb-photo-sync.sh
Restart=always
User=pi
Group=pi
WorkingDirectory=/home/pi/adb-photo-sync
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
